@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
  outline: 0;
}

html {
  --bg-color: #FCFCFC;
  --bg-timer: #EBEBEB;
  --color-headings: #0ac438;
  --color-text: #333333;
  --border-colors: #b4b3b3;
  --bg-buttons: #4240402d; 
}

body {
  margin: 0;
  padding: 0;
  background: var(--bg-color);
  color: var(--color-text);
  font-family: 'Open sans', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  line-height: 1.5em;
  
}

.container {
  max-width: 300px;
  margin: 50px auto;
  background: var(--bg-timer);
  border-radius: 50%;
  padding: 59px;

  box-shadow: 0px 0px 15px rgb(59, 58, 58);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


h1 {
  text-align: center;
  font-weight: lighter;

}

.timer {
  font-size: 3em;
}

.div-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.div-buttons button{
  all: unset;
  border-radius: 10px;
  border: 1px solid var(--border-colors);

  padding: 0px 10px;
  color: var(--color-text);
  font-size: 18px;
  font-weight: lighter;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

.div-buttons button:hover {
  background: var(--bg-buttons);
}

.toggle-mode {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 2rem;
  margin-top: 2rem;
}

.toggle-mode input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.toggle-mode label {
  cursor: pointer;
  width: 52px;
  height: 27px;
  background: gray;
  float: right;
  border-radius: 100px;
  position: relative;
}

.toggle-mode label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

.toggle-mode input:checked + label {
  background-color: var(--color-headings);
}

.toggle-mode input:checked + label::after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

.toggle-mode label:active:after {
  width: 45px;
}

.pause {
  color: #ff0000;
}
